<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/button.css') }}">
    <title>Display</title>
</head>

<body>


  <form action="/hospital" method="POST">
    <button class="cybr-btn">
        Hospitals<span aria-hidden>_</span>
        <span aria-hidden class="cybr-btn__glitch">Cyber_</span>
        <span aria-hidden class="cybr-btn__tag">R25</span>
      </button>
    </form>
    <br> <br>
    <form action="/department" method="POST">
      <button class="cybr-btn">
        Departments<span aria-hidden>_</span>
        <span aria-hidden class="cybr-btn__glitch">Buttons_</span>
        <span aria-hidden class="cybr-btn__tag">R25</span>
      </button>
    </form>
    <br> <br>
    <form action="/demployees" method="POST">
      <button class="cybr-btn">
        Employees<span aria-hidden>_</span>
        <span aria-hidden class="cybr-btn__glitch">Buttons_</span>
        <span aria-hidden class="cybr-btn__tag">R25</span>
      </button>
    </form>
    <br> <br>

    <form action="/patient" method="POST">
        <button class="cybr-btn">
            Patients<span aria-hidden>_</span>
            <span aria-hidden class="cybr-btn__glitch">Cyber_</span>
            <span aria-hidden class="cybr-btn__tag">R25</span>
          </button>
        </form>
        <br> <br>
        <form action="orders" method="POST">
          <button class="cybr-btn">
            Orders<span aria-hidden>_</span>
            <span aria-hidden class="cybr-btn__glitch">Buttons_</span>
            <span aria-hidden class="cybr-btn__tag">R25</span>
          </button>
        </form>
        <br> <br> <br> <br> <br>
        <form action="/">
          <button class="cybr-btn">
            GO BACK<span aria-hidden>_</span>
            <span aria-hidden class="cybr-btn__glitch">Buttons_</span>
            <span aria-hidden class="cybr-btn__tag">R25</span>
          </button>
        </form>
</body>
</html>