<html>
    <head>
    </head>

    <body>
        <form method="POST">
        <label for="Hname">Name:</label>
        <input type="text" id="HNAME" name="Hname"><br><br>
        <label for="Street">Street:</label>
        <input type="text" id="STREET" name="Street"><br><br>
        <label for="City">City:</label>
        <input type="text" id="CITY" name="City"><br><br>
        <label for="ZIP">ZIP:</label>
        <input type="text" id="ZIP" name="ZIP"><br><br>
        <label for="RegionID">Region:</label>
            <select id="REGIONID" name='RegionID'>
            <option value="TX">Texas</option>
            </select> <br> <br>
        <label for="Registered_beds">Registered_beds:</label>
        <input type="text" id="REGISTERED_BEDS" name="Registered_beds"><br><br>

        <input type="submit" value="Submit">
        </form>
    </body>
</html>